HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS / Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

### IntelliJ IDEA (Team có thể dùng cái này) ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code (Của bạn) ###
.vscode/

### Mac OS (Của chị Frontend nếu dùng Macbook) ###
.DS_Store

### Windows (Của team dùng Win) ###
Thumbs.db
ehthumbs.db
Desktop.ini

### Logs ###
*.log